@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Inter', sans-serif;
    background: #F2F2F2;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */
#navbar {
    width: 100%;
    position: fixed;
    color: #fff;
    transition: 0.5s;
}

.navbar-container {
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin-right: 40px;
}

.nav-items {
    list-style: none;
    display: flex;
    align-items: center;

}

.nav-items:last-child {
    margin: 0px;
}

.nav-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    height: 20px;
    margin: 0px 32px 0px 0px;
}



.nav-button {
    border: none;

    height: 44px;
    width: 234px;
    background: #00A870;
    border-radius: 4px;
    padding: 12px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.nav-button:hover {
    background: #009966;
    transition: 0.5s;
}

.login {
    margin-left: 23px;
    align-self: center;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    color: #FFFFFF;
}

.nav-flying {
    background: #fff;
    color: #000;
}

/* Showcase */
#showcase {
    margin: 0px;
    height: 80vh;
    width: 100%;
    background-image: url('../img/header-background.png'), url('../img/Gradient.png');
    background-size: cover;
    background-blend-mode: screen;
    display: flex;
    align-items: center;


}

.showcase-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.showcase-infos {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.showcase-title {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;

    display: flex;
    align-items: center;
    letter-spacing: -1px;


    color: #FFFFFF;
    margin-bottom: 34px;
}

.showcase-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    color: #FFFFFF;
    margin-bottom: 40px;
}

.showcase-link {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    text-decoration-line: underline;

    color: #FFFFFF;
}

.showcase-link img {
    margin-right: 16px;
}

.showcase-card {
    width: 316px;
    height: 290px;
    background-image: url('../img/showcase-card.png');
    cursor: pointer;
}

/* profile */

#profile {
    width: 100%;
    display: flex;
    height: 12vh;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
}

.profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile-container img {
    width: 56px;
    margin-right: 32px
}

.profile-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;

    color: #5E20A4;
}

.profile-content {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #000000;

}

/* footer */

#footer {
    width: 100%;
    height: 540px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content {
    top: 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;

    margin-bottom: 32px;
}

.footer-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #3D3D3D;

    margin-bottom: 16px;
}

.footer-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #3D3D3D;

}

.footer-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
}

.footer-button {
    display: flex;
    flex-direction: row;
    width: 304px;
    height: 68px;
    background: #5E20A4;
    border-radius: 4px;

    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 0.5s;

    margin-bottom: 24px;
}

.footer-button:hover {
    background: #441679;
}

.button-footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#button-footer-1 {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    align-items: start;
}

#button-footer-2 {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: start;
}

.footer-action-link {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-action-link p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #5E20A4;

}

.footer-links {
    width: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-bottom: 90px;
}

.footer-social-img {
    list-style: none;
    display: flex;
    justify-self: start;
    width: 25%;
}

.footer-list {
    display: flex;
    justify-content: center;
    width: 50%;
}

.footer-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #3D3D3D;

    margin-right: 29px;
}

.footer-item:last-child {
    margin-right: 0px;

}

.footer-items {
    list-style: none;
    display: flex;
    justify-self: center;
}

.footer-social-list {
    display: flex;
    width: 25%;
    justify-content: flex-end;
}

.footer-social {
    list-style: none;
    display: flex;
}

.footer-social-item {
    margin-right: 16px;
}

.footer-social-item:last-child {
    margin-right: 0px;
}

.copyright p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #3D3D3D;

    mix-blend-mode: normal;
    opacity: 0.6;
}